<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		    id = "BeHealthy"
        version     = "0.0.1" >

    <name>BeHealthy</name>
    <description> Monitor your cardiovascular parameters</description>
    <author href="https://arkfil.github.io/Gramy/" email="email@gmail.com">
		    Arkadiusz Filipowski
	  </author>
    <author href="https://arkfil.github.io/Gramy/" email="email1@gmail.com">
      Mateusz Wróbel
    </author>
    <author href="https://arkfil.github.io/Gramy/" email="email2@gmail.com">
      Agnieszka Szebla
    </author>
    <author href="https://arkfil.github.io/Gramy/" email="email3@gmail.com">
      Artem Silin
    </author>
	<platform name="android" />

	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />

</widget>
