page-add-measure-modal {
  @keyframes example {
    0% {transform: scale(1);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
  }

  .measure-heart {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width:100%;
    font-size: 75px;
    text-align: center;
  }

  .her{
    animation-duration: 1.4s;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}


