page-add-measure-modal {
  @keyframes example {
    0% {transform: scale(1);}
    50% {transform: scale(1.25);}
    100% {transform: scale(1);}
  }

  .her{
    animation-duration: 1.4s;
    animation-name: example;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
}


