<div class= "login_screen">
  <div class = "login_container">
    <h1 class="login_screen_heading">Hello<br>be healthy!</h1>

    <div class="whole_form">


    <form class="login_form">

        <div class="group email_group">
          <input placeholder="" class="email_input login_input" type="email" required>
          <span class="bar"></span>
          <label class="login_input_label">Email</label>
        </div>

        <div class="group">
          <input placeholder="" class="password_input login_input" type="password" required >
          <span class="bar"></span>
          <label class="login_input_label">Password</label>
        </div>

        <div class="group password_repeat_group">
          <input placeholder="" class="password_repeat_input login_input" type="password" required>
          <span class="bar"></span>
          <label class="login_input_label">Repeat password</label>
        </div>


        <input type="button" value="Sign in" class="sing_in_btn btn_log">
        <input type="button" value="Sing up" class="sing_up_btn btn_log">

        <p class="or_sign_in_with">Or sign in with <a class="facebook_login_start other_sign">facebook</a>,
          <a class="google_login_start other_sign">google</a> or <a class="twitter_login_start other_sign">twitter</a>.</p>

    </form>
    </div>
  </div>

</div>
