.toast-success {
  .toast-wrapper {
    background: #009700;
    opacity: 0.9;
    border-radius: 2px;
    text-align: center;
  }
  .toast-message {
    color: white;
    white-space: pre-line;
  }
}

.toast-failed {
  .toast-wrapper {
    background: #b70a00;
    opacity: 0.9;
    border-radius: 2px;
    text-align: center;
  }
  .toast-message {
    color: white;
    white-space: pre-line;
  }
}


.passwordIcon {
   font-size:1.8rem !important;
   margin: auto !important;
}